<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medical Chart</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Patient Medical Chart</h1>
    </header>
    <section class="patient-info">
      <div class="personal-info">
        <h2>Patient Information</h2>
        <div>
        <p><strong>Name: {{patient?.name}}</strong></p>
        <p><strong>Gender: {{patient?.gender}}</strong></p>
      </div>
      </div>
      <div class="medical-history">
        <h2>Medical History</h2>
        <ul >
          <li><strong>Diagnosis:</strong> {{patient?.diagnosis}}</li>
          <li><strong>Allergies:</strong> {{patient?.allergies}}</li>
          <li><strong>Medications:</strong> {{patient?.medication}}</li>
        </ul>
      </div>
    </section>
    <section class="medical-record">
      <h2>Medical Record</h2>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Doctor</th>
            <th>Procedure</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>{{patient?.date}}</td>
            <td></td>
            <td>{{patient?.procedures}}</td>
            <td>{{patient?.notes}}</td>
          </tr>
          <tr>
            <button type="submit" class="deleteButton" *ngIf="loggedIn == 1" (click)="deleteChart(patient!.id!)">Delete Chart</button>
            <button type="submit" class="updateButton" *ngIf="loggedIn == 1" routerLink="/medicalForm"  [queryParams]="{id: patient!.id}">Update Chart</button>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</body>  
</html>
