.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstCut {
  display: flex;
  position: relative;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(217, 153, 171, 1) 0%,
    rgba(176, 68, 68, 1) 100%
  );
  width: 100%;
  height: 200px;
  top: 100;
  left: 0;
  right: 200;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.firstTitle {
  font-family: SatoshiLight;
  vertical-align: middle;
}

.doctorImage1 {
  position: relative;
  width: 250px;
  top: -110px;
  left: calc(50% - 600px);

  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.strongText {
  font-family: Satoshi;
}

.subtitle {
  font-size: 20px;
}

.containerUp {
  pointer-events: none;
}


.first3DModelRow{
  display: flex;
  flex-direction: row-reverse;
}

.first3DModelRow img{
  width: 30% ;
  height: 100%;
  margin-top: 100px;
}

.ModelImage{
  display: flex;
  margin-left: auto;
}

.informativeBoxes1{
  margin-right: 100px;
  margin-top: 100px;
}

.informativeBoxes2{
  margin-right: 50x;
  margin-top: 100px;
}


.informativeBoxes1 div{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
  margin: 10px;
  width:300px;
  height: 169px;
  transition: transform .2s;
}

.informativeBoxes2 div{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
  margin: 10px;
  width:300px;
  height: 169px;
  transition: transform .2s;
  background-image: url('normalbackground.png');
  background-size: 400px;
  
}

.informativeBoxes2 div:hover{
  transform: scale(1.5);
  background: url('https://media.giphy.com/media/NsDgJPXkk5CK7pPYkJ/giphy.gif?cid=790b7611q9zle1umpzrgevdrnpi7r4l6sun4xk295bza6ny8&ep=v1_gifs_search&rid=giphy.gif&ct=g') no-repeat center center;
  background-size: contain;
}

.informativeBoxes1 div:hover{
  transform: scale(1.5);
}






