<div class="firstCut">
  <h1 class="firstTitle">
    <strong class="strongText">Where</strong> Health Meets Heart: <br />Your
    <strong class="strongText">Direct Line</strong> to Trusted Doctors.<br /><strong
      class="subtitle"
      >Prescription for Progress: Consult, Connect, Cure with Our Online
      Clinic</strong
    >
  </h1>
</div>
<img class="doctorImage1" src="assets/doctor3.png" />
<div class="card-container">
  <app-doctor-card
    *ngFor="let doctor of doctors"
    [image]="doctor.image"
    [Title]="doctor.title"
    [description]="doctor.description"
    [button]="doctor.button"
    [buttonLink]="doctor.buttonLink"
  />
</div>
<div class="first3DModelRow">
    <img src="assets/3dModel.png"/>
  <div class="informativeBoxes1">
    <div><h1>assaf</h1></div>
    <div><h1>assaf</h1></div>
  </div>
    <div class="informativeBoxes2">
    <div><h1>assaf</h1></div>
    <div><h1>assaf</h1></div>
  </div>
 
</div>
