.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstCut {
  display: flex;
  position: relative;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(217, 153, 171, 1) 0%,
    rgba(176, 68, 68, 1) 100%
  );
  width: 100%;
  height: 200px;
  top: 100;
  left: 0;
  right: 200;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.firstTitle {
  font-family: SatoshiLight;
  vertical-align: middle;
}

.doctorImage1 {
  position: relative;
  width: 250px;
  top: -110px;
  left: calc(50% - 600px);

  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.strongText {
  font-family: Satoshi;
}

.subtitle {
  font-size: 20px;
}

.containerUp {
  pointer-events: none;
}


.first3DModelRow{
  display: flex;
  flex-direction: row-reverse;
}

.first3DModelRow img{
  width: 30% ;
  height: 100%;
  margin-top: 100px;
}

.ModelImage{
  display: flex;
  margin-left: auto;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .glass {
  position: relative;
  width: 180px;
  height: 200px;
  background: linear-gradient(#70000222, transparent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.container:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;

}

.container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(112, 0, 2, 0.02);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #700002;
}
.container .glass svg {
  font-size: 2.5em;
  fill: #700002;
}

