<div class="firstCut">
  <h1 class="firstTitle">
    <strong class="strongText">Where</strong> Health Meets Heart: <br />Your
    <strong class="strongText">Direct Line</strong> to Trusted Doctors.<br /><strong
      class="subtitle"
      >Prescription for Progress: Consult, Connect, Cure with Our Online
      Clinic</strong
    >
  </h1>
</div>
<img class="doctorImage1" src="assets/doctor3.png"/>
<div class="allCards">
  <div class="card1">
    <div class="card-details"  (click)="transport()">
      <p class="text-title" (click)="transport()">See available doctors</p>
    </div>
    <button class="card-button" (click)="transport()">More info</button>
  </div>
  <div class="card2">
    <div class="card-details" onclick="window.location.href='https://www.medicalnewstoday.com/articles/in-conversation-what-makes-a-diet-truly-heart-healthy#1';">
      <p class="text-title" >Latest medical news</p>
    </div>
    <button class="card-button">More info</button>
  </div>



 
