<form  class="Form" [formGroup]="registerDoctorForm">
    <div class="background">
        <div class="container">
          <div class="screen">
            <div class="screen-header">
              <div class="screen-header-left">
                <div class="screen-header-button close"></div>
                <div class="screen-header-button maximize"></div>
                <div class="screen-header-button minimize"></div>
              </div>
              <div class="screen-header-right">
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
              </div>
            </div>
            <div class="screen-body">
              <div class="screen-body-item left">
                <div class="app-title">
                  <span>REGISTER FOR A</span>
                  <span class="span2">NEW ACCOUNT</span>
                </div>
                <div class="app-contact">CONTACT INFO : +62 81 314 928 595</div>
              </div>
              <div class="screen-body-item">
                <div class="app-form">
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="NAME" value="First Name" formControlName="firstName">
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="Second Name"  formControlName="secondName">
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="Email" formControlName="email"> 
                  </div>
                  <div class="app-form-group message">
                    <select class="app-form-control" placeholder="select your practice"  formControlName="DoctorType">
                        <option value="" selected disabled hidden>Doctor type</option>
                        <option >General Practitioner</option>
                        <option >Pediatrician</option>
                        <option >Dermatologist</option>
                        <option >Cardiologist</option>
                        <option >Orthopedic Surgeon</option>
                        <option>Psychiatrist</option>
                        <option >Gynecologist</option>
                        <option>Ophthalmologist</option>
                        <option >Otolaryngologist (ENT)</option>
                        <option >Urologist</option>
            </select>
                  </div>
                  <div class="app-form-group message">
                    <input class="app-form-control" placeholder="Faculty"  formControlName="faculty">
                  </div>
                  <div class="app-form-group message">
                    <input type="password" class="app-form-control" placeholder="password"  formControlName="password">
                  </div>
                  <div class="imageDiv">
                    <input (change)="onFileChange($event)" accept="image" type="file" formControlName="image"  class="app-form-control" >
                </div>
                  <div class="app-form-group buttons">
                    <button class="app-form-button">CANCEL</button>
                    <button type="submit" (click)="uploadFile($event)" (click)="show()"class="app-form-button">SUBMIT</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>